@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@media screen and (max-width: 480px) {
  body {
    font-size: 80%;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 120%;
  }
}

body {
  background-image: url(../media/hoja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#header .logicon {
  width: 100px;
  transition: all 500ms ease-in-out;
}

#header .lisnav {
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
}

#header .ingresar {
  height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#header .titulo {
  font-size: 50px;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  margin: 30px;
}

#header .videosor {
  width: 820px;
  margin: auto;
  display: block;
}

#header .sorti {
  text-align: center;
}

#header .chill {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  flex-wrap: wrap;
}

#header .chill .paraFormulario {
  color: #000;
}

#header .chill .paraFormulario .formu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#header .chill .paraFormulario textarea {
  resize: none;
  height: 100px;
  width: 450px;
}

#header label {
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
  line-height: 18px;
}

#mid .modelos {
  color: darkgreen;
  font-size: 20px;
  font-family: 'Rock Salt', cursive;
  text-align: center;
  align-content: center;
}

#mid .modelos .imgicon {
  width: 150px;
  transition: all 500ms ease-in-out;
  margin: 40px;
}

#mid .modelos .imgicon .imgicon:hover {
  transform: scale(1.2);
}

#mid .modelos .lista {
  color: #252850;
  font-size: 16px;
  font-family: 'Arial', cursive;
}

#mid .modelos td img {
  width: 150px;
}

#mid p {
  font-size: 16px;
  font-family: 'Arial', cursive;
  line-height: 18px;
}

#mid .leyendoreglas {
  width: 400px;
  margin: auto;
  display: block;
}

#mid .leyendohistoria {
  width: 500px;
  margin: auto;
  display: block;
}

#mid .leyendocategoria {
  width: 500px;
  margin: auto;
  display: block;
}

#footer .pie {
  font-size: 16px;
  font-family: 'Rock Salt', cursive;
  margin: auto;
  justify-content: space-between;
  margin-top: 10px;
  width: 50%;
  height: 100px;
}
