@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@media (min-width: 1025px) and (max-width: 1280px);
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape);
@media (min-width: 481px) and (max-width: 767px);
body {
	background-image: url(../media/hoja.jpg);
	background-size: cover;
 	background-repeat: no-repeat;
}
.imgicon {
	width: 150px;
	transition: all 500ms ease-in-out;
	margin: 40px;
}
.imgicon:hover {
	transform: scale(1.2);
}
.logicon {
	width: 100px;
	transition: all 500ms ease-in-out;
}
td img {
	width: 150px;
}
.videohis {
	width: 420px;
	margin: auto;
	display: block;
}
.videosor {
	width: 820px;
	margin: auto;
	display: block;
}
.sorti {
	text-align: center;
}
.ingresar {
	height: 25px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
#paraFormulario {
	color: #000;
}
.titulo	{
	font-size: 50px;
	font-family:'Rock Salt', cursive;
	text-align: center;
	margin: 30px;
}
.modelos {
	color: darkgreen;
	font-size: 20px;
	font-family:'Rock Salt', cursive;
	text-align: center;
	align-content: center;
}
.pie {
	font-size: 16px;
	font-family:'Rock Salt', cursive;
	margin: auto;
	justify-content: space-between;
	margin-top: 10px;
	width: 50%;
	height: 100px;
}
.leyendoreglas {
	width: 400px;
	margin: auto;
	display: block;
}
.leyendohistoria {
	width: 500px;
	margin: auto;
	display: block;
}
.leyendocategoria {
	width: 500px;
	margin: auto;
	display: block;
}
.chill {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	flex-wrap: wrap;
}
.formu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.historialet {
	font-family: Arial;
	font-size: 18px;
}	
.lista {
	color: #252850;
	font-size: 16px;
	font-family:'Arial', cursive;
}
.lisnav {
	font-size: 16px;
	font-family:'Rock Salt', cursive;
}
p {
	font-size: 16px;
	font-family:'Rock Salt', cursive;
	line-height: 18px;
}
label {
	font-size: 16px;
	font-family:'Rock Salt', cursive;
	line-height: 18px;
}
textarea {
  	resize: none;
  	height: 100px;
  	width: 450px;
}
